/* Add CSS Styling */
.btn1 {
    color: white;
    background: black;
}
.btn2 {
    background: yellow;
}
.btn1,
.btn2 {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}