div {
    background: red;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
/* p {
    background: green;
    font-size: 20px;
} */
div,p {
    color: white;
}
/* button {
    background: orange;
    font-size: 20px;
    border-color: white;
} */