/* Add CSS Styling */
.container .text {
    background: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}
div.container p {
    background: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}